desktop.ini
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/spyro1.bin
common/custom_text.c
common/decrementing_timer.c
common/DVD.c
common/moby.c
common/moby.dep
common/moby.o
common/my_math.c
common/shapes.c
common/shapes.dep
common/shapes.o
common/vector.c
mods/functionally_equivalent/crash.log
mods/functionally_equivalent/Makefile
mods/functionally_equivalent/offset.txt
mods/functionally_equivalent/overlay.ld
mods/functionally_equivalent/debug/mod.elf
mods/functionally_equivalent/debug/mod.map
mods/functionally_equivalent/debug/redux.map
mods/functionally_equivalent/debug/source.txt
mods/functionally_equivalent/debug/dep/calculate_completion_percentage.dep
mods/functionally_equivalent/debug/dep/cd_status.dep
mods/functionally_equivalent/debug/dep/cd.dep
mods/functionally_equivalent/debug/dep/draw_text_capitals_hook.dep
mods/functionally_equivalent/debug/dep/draw_text_capitals.dep
mods/functionally_equivalent/debug/dep/gem_home_in_hook.dep
mods/functionally_equivalent/debug/dep/gem_home_in.dep
mods/functionally_equivalent/debug/dep/misc_game.dep
mods/functionally_equivalent/debug/dep/sin_scaled.dep
mods/functionally_equivalent/debug/dep/vec3_add.dep
mods/functionally_equivalent/debug/dep/vec3_copy.dep
mods/functionally_equivalent/debug/dep/vector.dep
mods/functionally_equivalent/debug/obj/calculate_completion_percentage.o
mods/functionally_equivalent/debug/obj/cd_status.o
mods/functionally_equivalent/debug/obj/cd.o
mods/functionally_equivalent/debug/obj/draw_text_capitals_hook.o
mods/functionally_equivalent/debug/obj/draw_text_capitals.o
mods/functionally_equivalent/debug/obj/gem_home_in_hook.o
mods/functionally_equivalent/debug/obj/gem_home_in.o
mods/functionally_equivalent/debug/obj/misc_game.o
mods/functionally_equivalent/debug/obj/sin_scaled.o
mods/functionally_equivalent/debug/obj/vec3_add.o
mods/functionally_equivalent/debug/obj/vec3_copy.o
mods/functionally_equivalent/debug/obj/vector.o
mods/functionally_equivalent/newtex/.gitignore
mods/functionally_equivalent/output/asmcalculate_completion_percentages.bin
mods/functionally_equivalent/output/asmcd_statuss.bin
mods/functionally_equivalent/output/asmdraw_text_capitals_hooks.bin
mods/functionally_equivalent/output/asmgem_home_in_hooks.bin
mods/functionally_equivalent/output/asmsin_scaleds.bin
mods/functionally_equivalent/output/asmvec3_adds.bin
mods/functionally_equivalent/output/asmvec3_copys.bin
mods/functionally_equivalent/output/mod_code.bin
visualizations/inserting into middle of function.drawio
plugins/__pycache__/plugin.cpython-311.pyc
plugins/__pycache__/plugin.cpython-310.pyc
mods/Multi/buildList.txt
mods/Multi/crash.log
mods/Multi/Makefile
mods/Multi/MOD.BAT
mods/Multi/offset.txt
mods/Multi/overlay.ld
mods/Multi/debug/mod.elf
mods/Multi/debug/mod.map
mods/Multi/debug/redux.map
mods/Multi/debug/source.txt
mods/Multi/debug/dep/gps.dep
mods/Multi/debug/dep/hook_func.dep
mods/Multi/debug/dep/levelselect.dep
mods/Multi/debug/dep/main.dep
mods/Multi/debug/obj/gps.o
mods/Multi/debug/obj/hook_func.o
mods/Multi/debug/obj/levelselect.o
mods/Multi/debug/obj/main.o
mods/Multi/newtex/.gitignore
mods/Multi/output/includehook_funcs.bin
mods/Multi/output/mod.bin
mods/Multi/src/.gitignore
mods/Multi/src/common.c
mods/Multi/src/common.dep
mods/Multi/src/common.o
mods/Multi/src/DrawTextCapitals.c
mods/Multi/src/export_functions.py
mods/Multi/src/gps.c
mods/Multi/src/levelselect.c
mods/Multi/src/levelselect.h
mods/Multi/src/main.c
mods/Multi/src/notes.txt
mods/Multi/src/patch1.txt
mods/Multi/src/patch2.txt
mods/Multi/hook.s
mods/functionally_equivalent/debug/dep/draw_text_all_hook.dep
mods/functionally_equivalent/debug/obj/draw_text_all_hook.o
mods/functionally_equivalent/output/asmdraw_text_all_hooks.bin
mods/functionally_equivalent/debug/dep/draw_text.dep
mods/functionally_equivalent/debug/dep/matrix_transpose_hook.dep
mods/functionally_equivalent/debug/obj/draw_text.o
mods/functionally_equivalent/debug/obj/matrix_transpose_hook.o
mods/functionally_equivalent/output/asmmatrix_transpose_hooks.bin
mods/functionally_equivalent/debug/dep/draw_arrow.dep
mods/functionally_equivalent/debug/dep/draw_stuff.dep
mods/functionally_equivalent/debug/obj/draw_arrow.o
mods/functionally_equivalent/debug/obj/draw_stuff.o
mods/functionally_equivalent/output/asmdraw_arrows.bin
mods/functionally_equivalent/debug/dep/draw_textbox.dep
mods/functionally_equivalent/debug/obj/draw_textbox.o
mods/functionally_equivalent/output/asmdraw_textboxs.bin
mods/functionally_equivalent/src/draw_stuff.c
mods/functionally_equivalent/debug/dep/draw_primitive.dep
mods/functionally_equivalent/debug/obj/draw_primitive.o
mods/functionally_equivalent/output/asmdraw_primitives.bin
mods/functionally_equivalent/debug/dep/exit_inventory_menu.dep
mods/functionally_equivalent/debug/dep/menus.dep
mods/functionally_equivalent/output/asmexit_inventory_menus.bin
mods/functionally_equivalent/debug/obj/exit_inventory_menu.o
mods/functionally_equivalent/debug/obj/menus.o
Doxygen/html/bc_s.png
Doxygen/html/bc_sd.png
Doxygen/html/cd_8c.html
Doxygen/html/cd_8c.js
Doxygen/html/closed.png
Doxygen/html/dir_6fa5fe5d15f4eee32e26d3ae22f9b7c2.html
Doxygen/html/dir_38c8d24aef3972a7f87b834274e76e31.html
Doxygen/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
Doxygen/html/dir_68267d1309a1af8e8297ef4c3efbcdba.js
Doxygen/html/dir_a419cf4bd9b994a09563262349c7cd0b.html
Doxygen/html/dir_e32e21dff86b2f4c3e9cf44f437b74cb.html
Doxygen/html/doc.svg
Doxygen/html/docd.svg
Doxygen/html/doxygen.css
Doxygen/html/doxygen.svg
Doxygen/html/draw__stuff_8c.html
Doxygen/html/draw__stuff_8c.js
Doxygen/html/draw__text_8c.html
Doxygen/html/draw__text_8c.js
Doxygen/html/dynsections.js
Doxygen/html/files_dup.js
Doxygen/html/files.html
Doxygen/html/folderclosed.svg
Doxygen/html/folderclosedd.svg
Doxygen/html/folderopen.svg
Doxygen/html/folderopend.svg
Doxygen/html/gem__home__in_8c.html
Doxygen/html/gem__home__in_8c.js
Doxygen/html/globals_defs.html
Doxygen/html/globals_func.html
Doxygen/html/globals.html
Doxygen/html/index.html
Doxygen/html/jquery.js
Doxygen/html/menu.js
Doxygen/html/menudata.js
Doxygen/html/menus_8c.html
Doxygen/html/menus_8c.js
Doxygen/html/misc__game_8c.html
Doxygen/html/misc__game_8c.js
Doxygen/html/nav_f.png
Doxygen/html/nav_fd.png
Doxygen/html/nav_g.png
Doxygen/html/nav_h.png
Doxygen/html/nav_hd.png
Doxygen/html/navtree.css
Doxygen/html/navtree.js
Doxygen/html/navtreedata.js
Doxygen/html/navtreeindex0.js
Doxygen/html/open.png
Doxygen/html/resize.js
Doxygen/html/splitbar.png
Doxygen/html/splitbard.png
Doxygen/html/Spyroscope.ico
Doxygen/html/sync_off.png
Doxygen/html/sync_on.png
Doxygen/html/tab_a.png
Doxygen/html/tab_ad.png
Doxygen/html/tab_b.png
Doxygen/html/tab_bd.png
Doxygen/html/tab_h.png
Doxygen/html/tab_hd.png
Doxygen/html/tab_s.png
Doxygen/html/tab_sd.png
Doxygen/html/tabs.css
Doxygen/html/vector_8c.html
Doxygen/html/vector_8c.js
Doxygen/html/search/all_0.js
Doxygen/html/search/all_1.js
Doxygen/html/search/all_2.js
Doxygen/html/search/all_3.js
Doxygen/html/search/all_4.js
Doxygen/html/search/all_5.js
Doxygen/html/search/all_6.js
Doxygen/html/search/all_7.js
Doxygen/html/search/close.svg
Doxygen/html/search/defines_0.js
Doxygen/html/search/defines_1.js
Doxygen/html/search/defines_2.js
Doxygen/html/search/files_0.js
Doxygen/html/search/files_1.js
Doxygen/html/search/files_2.js
Doxygen/html/search/files_3.js
Doxygen/html/search/files_4.js
Doxygen/html/search/functions_0.js
Doxygen/html/search/functions_1.js
Doxygen/html/search/functions_2.js
Doxygen/html/search/functions_3.js
Doxygen/html/search/functions_4.js
Doxygen/html/search/functions_5.js
Doxygen/html/search/functions_6.js
Doxygen/html/search/mag_d.svg
Doxygen/html/search/mag_sel.svg
Doxygen/html/search/mag_seld.svg
Doxygen/html/search/mag.svg
Doxygen/html/search/search.css
Doxygen/html/search/search.js
Doxygen/html/search/searchdata.js
README FORMATTING.TXT
documentation/inserting into middle of function.drawio
Doxygen/html/_d_v_d_8c.html
Doxygen/html/_p_s_y_q__cd_8h_source.html
Doxygen/html/_p_s_y_q__cd_8h.html
Doxygen/html/_p_s_y_q__cd_8h.js
Doxygen/html/annotated_dup.js
Doxygen/html/annotated.html
Doxygen/html/cd_8h_source.html
Doxygen/html/cd_8h.html
Doxygen/html/classes.html
Doxygen/html/common_2vector_8c.html
Doxygen/html/common_8h_source.html
Doxygen/html/common_8h.html
Doxygen/html/common_8h.js
Doxygen/html/custom__text_8c.html
Doxygen/html/custom__types_8h_source.html
Doxygen/html/custom__types_8h.html
Doxygen/html/custom__types_8h.js
Doxygen/html/decrementing__timer_8c.html
Doxygen/html/dir_6a070e5bb32129440a8a10dcf7b9e767.html
Doxygen/html/dir_6fa5fe5d15f4eee32e26d3ae22f9b7c2.js
Doxygen/html/dir_13e138d54eb8818da29c3992edef070a.html
Doxygen/html/dir_a419cf4bd9b994a09563262349c7cd0b.js
Doxygen/html/dir_bdd9a5d540de89e9fe90efdfc6973a4f.html
Doxygen/html/dir_d44c64559bbebec7f509842c48db8b23.html
Doxygen/html/dir_d44c64559bbebec7f509842c48db8b23.js
Doxygen/html/dir_e02c568026a90e9acd745698f8669c68.html
Doxygen/html/dir_e32e21dff86b2f4c3e9cf44f437b74cb.js
Doxygen/html/draw__stuff_8h_source.html
Doxygen/html/draw__stuff_8h.html
Doxygen/html/draw__text_8h_source.html
Doxygen/html/draw__text_8h.html
Doxygen/html/formatting_8md.html
Doxygen/html/functions_b.html
Doxygen/html/functions_c.html
Doxygen/html/functions_d.html
Doxygen/html/functions_dup.js
Doxygen/html/functions_e.html
Doxygen/html/functions_f.html
Doxygen/html/functions_g.html
Doxygen/html/functions_h.html
Doxygen/html/functions_i.html
Doxygen/html/functions_l.html
Doxygen/html/functions_m.html
Doxygen/html/functions_n.html
Doxygen/html/functions_o.html
Doxygen/html/functions_p.html
Doxygen/html/functions_r.html
Doxygen/html/functions_s.html
Doxygen/html/functions_t.html
Doxygen/html/functions_u.html
Doxygen/html/functions_v.html
Doxygen/html/functions_vars_b.html
Doxygen/html/functions_vars_c.html
Doxygen/html/functions_vars_d.html
Doxygen/html/functions_vars_e.html
Doxygen/html/functions_vars_f.html
Doxygen/html/functions_vars_g.html
Doxygen/html/functions_vars_h.html
Doxygen/html/functions_vars_i.html
Doxygen/html/functions_vars_l.html
Doxygen/html/functions_vars_m.html
Doxygen/html/functions_vars_n.html
Doxygen/html/functions_vars_o.html
Doxygen/html/functions_vars_p.html
Doxygen/html/functions_vars_r.html
Doxygen/html/functions_vars_s.html
Doxygen/html/functions_vars_t.html
Doxygen/html/functions_vars_u.html
Doxygen/html/functions_vars_v.html
Doxygen/html/functions_vars_w.html
Doxygen/html/functions_vars_x.html
Doxygen/html/functions_vars_y.html
Doxygen/html/functions_vars_z.html
Doxygen/html/functions_vars.html
Doxygen/html/functions_vars.js
Doxygen/html/functions_w.html
Doxygen/html/functions_x.html
Doxygen/html/functions_y.html
Doxygen/html/functions_z.html
Doxygen/html/functions.html
Doxygen/html/globals_a.html
Doxygen/html/globals_b.html
Doxygen/html/globals_c.html
Doxygen/html/globals_d.html
Doxygen/html/globals_dup.js
Doxygen/html/globals_e.html
Doxygen/html/globals_enum.html
Doxygen/html/globals_eval_b.html
Doxygen/html/globals_eval_c.html
Doxygen/html/globals_eval_d.html
Doxygen/html/globals_eval_e.html
Doxygen/html/globals_eval_f.html
Doxygen/html/globals_eval_g.html
Doxygen/html/globals_eval_h.html
Doxygen/html/globals_eval_i.html
Doxygen/html/globals_eval_j.html
Doxygen/html/globals_eval_l.html
Doxygen/html/globals_eval_m.html
Doxygen/html/globals_eval_n.html
Doxygen/html/globals_eval_o.html
Doxygen/html/globals_eval_p.html
Doxygen/html/globals_eval_r.html
Doxygen/html/globals_eval_s.html
Doxygen/html/globals_eval_t.html
Doxygen/html/globals_eval_u.html
Doxygen/html/globals_eval_w.html
Doxygen/html/globals_eval_x.html
Doxygen/html/globals_eval_y.html
Doxygen/html/globals_eval.html
Doxygen/html/globals_eval.js
Doxygen/html/globals_f.html
Doxygen/html/globals_g.html
Doxygen/html/globals_h.html
Doxygen/html/globals_i.html
Doxygen/html/globals_j.html
Doxygen/html/globals_l.html
Doxygen/html/globals_m.html
Doxygen/html/globals_n.html
Doxygen/html/globals_o.html
Doxygen/html/globals_p.html
Doxygen/html/globals_r.html
Doxygen/html/globals_s.html
Doxygen/html/globals_t.html
Doxygen/html/globals_type.html
Doxygen/html/globals_u.html
Doxygen/html/globals_v.html
Doxygen/html/globals_vars.html
Doxygen/html/globals_w.html
Doxygen/html/globals_x.html
Doxygen/html/globals_y.html
Doxygen/html/menus_8h_source.html
Doxygen/html/menus_8h.html
Doxygen/html/misc__game_8h_source.html
Doxygen/html/misc__game_8h.html
Doxygen/html/moby_8c.html
Doxygen/html/moby_8h_source.html
Doxygen/html/moby_8h.html
Doxygen/html/moby_8h.js
Doxygen/html/mods_2functionally__equivalent_2plugins_2plugin_8py.html
Doxygen/html/mods_2functionally__equivalent_2src_2vector_8c.html
Doxygen/html/my__math_8c.html
Doxygen/html/namespacemembers_func.html
Doxygen/html/namespacemembers.html
Doxygen/html/namespaceplugin.html
Doxygen/html/namespaces.html
Doxygen/html/navtreeindex1.js
Doxygen/html/navtreeindex2.js
Doxygen/html/navtreeindex3.js
Doxygen/html/navtreeindex4.js
Doxygen/html/options_8h_source.html
Doxygen/html/options_8h.html
Doxygen/html/options_8h.js
Doxygen/html/particles_8h_source.html
Doxygen/html/particles_8h.html
Doxygen/html/particles_8h.js
Doxygen/html/plugins_2plugin_8py.html
Doxygen/html/shapes_8c.html
Doxygen/html/shapes_8h_source.html
Doxygen/html/shapes_8h.html
Doxygen/html/shapes_8h.js
Doxygen/html/sound_8h_source.html
Doxygen/html/sound_8h.html
Doxygen/html/sound_8h.js
Doxygen/html/spyro_8h_source.html
Doxygen/html/spyro_8h.html
Doxygen/html/spyro_8h.js
Doxygen/html/struct_angle__u8.html
Doxygen/html/struct_angle__u8.js
Doxygen/html/struct_angle__u16.html
Doxygen/html/struct_angle__u16.js
Doxygen/html/struct_angle.html
Doxygen/html/struct_angle.js
Doxygen/html/struct_b_g_r__u8.html
Doxygen/html/struct_b_g_r__u8.js
Doxygen/html/struct_camera_angle.html
Doxygen/html/struct_camera_angle.js
Doxygen/html/struct_capital_text_info.html
Doxygen/html/struct_capital_text_info.js
Doxygen/html/struct_cdl_f_i_l_t_e_r.html
Doxygen/html/struct_cdl_f_i_l_t_e_r.js
Doxygen/html/struct_cdl_l_o_c.html
Doxygen/html/struct_cdl_l_o_c.js
Doxygen/html/struct_hud_moby_info.html
Doxygen/html/struct_hud_moby_info.js
Doxygen/html/struct_line.html
Doxygen/html/struct_line.js
Doxygen/html/struct_lowercase_text_info.html
Doxygen/html/struct_lowercase_text_info.js
Doxygen/html/struct_m_a_t_r_i_x3_b_y3.html
Doxygen/html/struct_m_a_t_r_i_x3_b_y3.js
Doxygen/html/struct_moby.html
Doxygen/html/struct_moby.js
Doxygen/html/struct_n_o_p_hex_code.html
Doxygen/html/struct_n_o_p_hex_code.js
Doxygen/html/struct_opaque_shape.html
Doxygen/html/struct_opaque_shape.js
Doxygen/html/struct_particle.html
Doxygen/html/struct_particle.js
Doxygen/html/struct_poly3_f_shaded.html
Doxygen/html/struct_poly3_f_shaded.js
Doxygen/html/struct_poly3_f.html
Doxygen/html/struct_poly3_f.js
Doxygen/html/struct_poly4_f___vec3.html
Doxygen/html/struct_poly4_f___vec3.js
Doxygen/html/struct_poly4_f_shaded_textured.html
Doxygen/html/struct_poly4_f_shaded_textured.js
Doxygen/html/struct_poly4_f_shaded.html
Doxygen/html/struct_poly4_f_shaded.js
Doxygen/html/struct_poly4_f_textured.html
Doxygen/html/struct_poly4_f_textured.js
Doxygen/html/struct_poly4_f.html
Doxygen/html/struct_poly4_f.js
Doxygen/html/struct_r_e_c_t.html
Doxygen/html/struct_r_e_c_t.js
Doxygen/html/struct_r_g_b__u8.html
Doxygen/html/struct_r_g_b__u8.js
Doxygen/html/struct_r_g_b_a__u8.html
Doxygen/html/struct_r_g_b_a__u8.js
Doxygen/html/struct_shaded_line.html
Doxygen/html/struct_shaded_line.js
Doxygen/html/struct_spyro_head_angle.html
Doxygen/html/struct_spyro_head_angle.js
Doxygen/html/struct_spyro.html
Doxygen/html/struct_spyro.js
Doxygen/html/struct_vec2__u8.html
Doxygen/html/struct_vec2__u8.js
Doxygen/html/struct_vec2__u16.html
Doxygen/html/struct_vec2__u16.js
Doxygen/html/struct_vec2.html
Doxygen/html/struct_vec2.js
Doxygen/html/struct_vec3__u8.html
Doxygen/html/struct_vec3__u8.js
Doxygen/html/struct_vec3__u16.html
Doxygen/html/struct_vec3__u16.js
Doxygen/html/struct_vec3_padding.html
Doxygen/html/struct_vec3_padding.js
Doxygen/html/struct_vec3.html
Doxygen/html/struct_vec3.js
Doxygen/html/text_8h_source.html
Doxygen/html/text_8h.html
Doxygen/html/text_8h.js
Doxygen/html/vector_8h_source.html
Doxygen/html/vector_8h.html
Doxygen/html/vector_8h.js
Doxygen/html/search/all_8.js
Doxygen/html/search/all_9.js
Doxygen/html/search/all_10.js
Doxygen/html/search/all_11.js
Doxygen/html/search/all_12.js
Doxygen/html/search/all_13.js
Doxygen/html/search/all_14.js
Doxygen/html/search/all_15.js
Doxygen/html/search/all_16.js
Doxygen/html/search/all_17.js
Doxygen/html/search/all_18.js
Doxygen/html/search/all_a.js
Doxygen/html/search/all_b.js
Doxygen/html/search/all_c.js
Doxygen/html/search/all_d.js
Doxygen/html/search/all_e.js
Doxygen/html/search/all_f.js
Doxygen/html/search/classes_0.js
Doxygen/html/search/classes_1.js
Doxygen/html/search/classes_2.js
Doxygen/html/search/classes_3.js
Doxygen/html/search/classes_4.js
Doxygen/html/search/classes_5.js
Doxygen/html/search/classes_6.js
Doxygen/html/search/classes_7.js
Doxygen/html/search/classes_8.js
Doxygen/html/search/classes_9.js
Doxygen/html/search/classes_a.js
Doxygen/html/search/classes_b.js
Doxygen/html/search/defines_3.js
Doxygen/html/search/defines_4.js
Doxygen/html/search/defines_5.js
Doxygen/html/search/defines_6.js
Doxygen/html/search/defines_7.js
Doxygen/html/search/defines_8.js
Doxygen/html/search/defines_9.js
Doxygen/html/search/defines_a.js
Doxygen/html/search/defines_b.js
Doxygen/html/search/defines_c.js
Doxygen/html/search/enums_0.js
Doxygen/html/search/enums_1.js
Doxygen/html/search/enums_2.js
Doxygen/html/search/enums_3.js
Doxygen/html/search/enums_4.js
Doxygen/html/search/enums_5.js
Doxygen/html/search/enums_6.js
Doxygen/html/search/enums_7.js
Doxygen/html/search/enums_8.js
Doxygen/html/search/enums_9.js
Doxygen/html/search/enums_a.js
Doxygen/html/search/enumvalues_0.js
Doxygen/html/search/enumvalues_1.js
Doxygen/html/search/enumvalues_2.js
Doxygen/html/search/enumvalues_3.js
Doxygen/html/search/enumvalues_4.js
Doxygen/html/search/enumvalues_5.js
Doxygen/html/search/enumvalues_6.js
Doxygen/html/search/enumvalues_7.js
Doxygen/html/search/enumvalues_8.js
Doxygen/html/search/enumvalues_9.js
Doxygen/html/search/enumvalues_10.js
Doxygen/html/search/enumvalues_11.js
Doxygen/html/search/enumvalues_12.js
Doxygen/html/search/enumvalues_13.js
Doxygen/html/search/enumvalues_14.js
Doxygen/html/search/enumvalues_15.js
Doxygen/html/search/enumvalues_a.js
Doxygen/html/search/enumvalues_b.js
Doxygen/html/search/enumvalues_c.js
Doxygen/html/search/enumvalues_d.js
Doxygen/html/search/enumvalues_e.js
Doxygen/html/search/enumvalues_f.js
Doxygen/html/search/files_5.js
Doxygen/html/search/files_6.js
Doxygen/html/search/files_7.js
Doxygen/html/search/files_8.js
Doxygen/html/search/files_9.js
Doxygen/html/search/functions_7.js
Doxygen/html/search/functions_8.js
Doxygen/html/search/functions_9.js
Doxygen/html/search/functions_a.js
Doxygen/html/search/functions_b.js
Doxygen/html/search/functions_c.js
Doxygen/html/search/functions_d.js
Doxygen/html/search/functions_e.js
Doxygen/html/search/functions_f.js
Doxygen/html/search/namespaces_0.js
Doxygen/html/search/pages_0.js
Doxygen/html/search/typedefs_0.js
Doxygen/html/search/typedefs_1.js
Doxygen/html/search/typedefs_2.js
Doxygen/html/search/typedefs_3.js
Doxygen/html/search/typedefs_4.js
Doxygen/html/search/typedefs_5.js
Doxygen/html/search/typedefs_6.js
Doxygen/html/search/typedefs_7.js
Doxygen/html/search/typedefs_8.js
Doxygen/html/search/typedefs_9.js
Doxygen/html/search/typedefs_a.js
Doxygen/html/search/typedefs_b.js
Doxygen/html/search/typedefs_c.js
Doxygen/html/search/typedefs_d.js
Doxygen/html/search/typedefs_e.js
Doxygen/html/search/typedefs_f.js
Doxygen/html/search/variables_0.js
Doxygen/html/search/variables_1.js
Doxygen/html/search/variables_2.js
Doxygen/html/search/variables_3.js
Doxygen/html/search/variables_4.js
Doxygen/html/search/variables_5.js
Doxygen/html/search/variables_6.js
Doxygen/html/search/variables_7.js
Doxygen/html/search/variables_8.js
Doxygen/html/search/variables_9.js
Doxygen/html/search/variables_10.js
Doxygen/html/search/variables_11.js
Doxygen/html/search/variables_12.js
Doxygen/html/search/variables_13.js
Doxygen/html/search/variables_14.js
Doxygen/html/search/variables_15.js
Doxygen/html/search/variables_16.js
Doxygen/html/search/variables_17.js
Doxygen/html/search/variables_a.js
Doxygen/html/search/variables_b.js
Doxygen/html/search/variables_c.js
Doxygen/html/search/variables_d.js
Doxygen/html/search/variables_e.js
Doxygen/html/search/variables_f.js
Doxygen/html/dir_138aff360eb965c43b94267b8d1ce09e.html
Doxygen/html/pages.html
Doxygen/html/symbol__map_8md.html
Doxygen/html/symbol_map.html
Doxygen/html/search/pages_1.js
docs/inserting into middle of function.drawio
Doxygen/html/dir_49e56c817e5e54854c35e136979f97ca.html
inserting into middle of function.drawio