desktop.ini
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/spyro1.bin
common/custom_text.c
common/decrementing_timer.c
common/DVD.c
common/moby.c
common/moby.dep
common/moby.o
common/my_math.c
common/shapes.c
common/shapes.dep
common/shapes.o
common/vector.c
mods/functionally_equivalent/crash.log
mods/functionally_equivalent/Makefile
mods/functionally_equivalent/offset.txt
mods/functionally_equivalent/overlay.ld
mods/functionally_equivalent/debug/mod.elf
mods/functionally_equivalent/debug/mod.map
mods/functionally_equivalent/debug/redux.map
mods/functionally_equivalent/debug/source.txt
mods/functionally_equivalent/debug/dep/calculate_completion_percentage.dep
mods/functionally_equivalent/debug/dep/cd_status.dep
mods/functionally_equivalent/debug/dep/cd.dep
mods/functionally_equivalent/debug/dep/draw_text_capitals_hook.dep
mods/functionally_equivalent/debug/dep/draw_text_capitals.dep
mods/functionally_equivalent/debug/dep/gem_home_in_hook.dep
mods/functionally_equivalent/debug/dep/gem_home_in.dep
mods/functionally_equivalent/debug/dep/misc_game.dep
mods/functionally_equivalent/debug/dep/sin_scaled.dep
mods/functionally_equivalent/debug/dep/vec3_add.dep
mods/functionally_equivalent/debug/dep/vec3_copy.dep
mods/functionally_equivalent/debug/dep/vector.dep
mods/functionally_equivalent/debug/obj/calculate_completion_percentage.o
mods/functionally_equivalent/debug/obj/cd_status.o
mods/functionally_equivalent/debug/obj/cd.o
mods/functionally_equivalent/debug/obj/draw_text_capitals_hook.o
mods/functionally_equivalent/debug/obj/draw_text_capitals.o
mods/functionally_equivalent/debug/obj/gem_home_in_hook.o
mods/functionally_equivalent/debug/obj/gem_home_in.o
mods/functionally_equivalent/debug/obj/misc_game.o
mods/functionally_equivalent/debug/obj/sin_scaled.o
mods/functionally_equivalent/debug/obj/vec3_add.o
mods/functionally_equivalent/debug/obj/vec3_copy.o
mods/functionally_equivalent/debug/obj/vector.o
mods/functionally_equivalent/newtex/.gitignore
mods/functionally_equivalent/output/asmcalculate_completion_percentages.bin
mods/functionally_equivalent/output/asmcd_statuss.bin
mods/functionally_equivalent/output/asmdraw_text_capitals_hooks.bin
mods/functionally_equivalent/output/asmgem_home_in_hooks.bin
mods/functionally_equivalent/output/asmsin_scaleds.bin
mods/functionally_equivalent/output/asmvec3_adds.bin
mods/functionally_equivalent/output/asmvec3_copys.bin
mods/functionally_equivalent/output/mod_code.bin
visualizations/inserting into middle of function.drawio
plugins/__pycache__/plugin.cpython-311.pyc
mods/Multi/buildList.txt
mods/Multi/crash.log
mods/Multi/Makefile
mods/Multi/MOD.BAT
mods/Multi/offset.txt
mods/Multi/overlay.ld
mods/Multi/debug/mod.elf
mods/Multi/debug/mod.map
mods/Multi/debug/redux.map
mods/Multi/debug/source.txt
mods/Multi/debug/dep/gps.dep
mods/Multi/debug/dep/hook_func.dep
mods/Multi/debug/dep/levelselect.dep
mods/Multi/debug/dep/main.dep
mods/Multi/debug/obj/gps.o
mods/Multi/debug/obj/hook_func.o
mods/Multi/debug/obj/levelselect.o
mods/Multi/debug/obj/main.o
mods/Multi/newtex/.gitignore
mods/Multi/output/includehook_funcs.bin
mods/Multi/output/mod.bin
mods/Multi/src/.gitignore
mods/Multi/src/common.c
mods/Multi/src/common.dep
mods/Multi/src/common.o
mods/Multi/src/DrawTextCapitals.c
mods/Multi/src/export_functions.py
mods/Multi/src/gps.c
mods/Multi/src/levelselect.c
mods/Multi/src/levelselect.h
mods/Multi/src/main.c
mods/Multi/src/notes.txt
mods/Multi/src/patch1.txt
mods/Multi/src/patch2.txt
mods/Multi/hook.s
mods/functionally_equivalent/debug/dep/draw_text_all_hook.dep
mods/functionally_equivalent/debug/obj/draw_text_all_hook.o
mods/functionally_equivalent/output/asmdraw_text_all_hooks.bin
mods/functionally_equivalent/debug/dep/draw_text.dep
mods/functionally_equivalent/debug/dep/matrix_transpose_hook.dep
mods/functionally_equivalent/debug/obj/draw_text.o
mods/functionally_equivalent/debug/obj/matrix_transpose_hook.o
mods/functionally_equivalent/output/asmmatrix_transpose_hooks.bin
mods/functionally_equivalent/debug/dep/draw_arrow.dep
mods/functionally_equivalent/debug/dep/draw_stuff.dep
mods/functionally_equivalent/debug/obj/draw_arrow.o
mods/functionally_equivalent/debug/obj/draw_stuff.o
mods/functionally_equivalent/output/asmdraw_arrows.bin
mods/functionally_equivalent/debug/dep/draw_textbox.dep
mods/functionally_equivalent/debug/obj/draw_textbox.o
mods/functionally_equivalent/output/asmdraw_textboxs.bin
mods/functionally_equivalent/src/draw_stuff.c
mods/functionally_equivalent/debug/dep/draw_primitive.dep
mods/functionally_equivalent/debug/obj/draw_primitive.o
mods/functionally_equivalent/output/asmdraw_primitives.bin
mods/functionally_equivalent/src/menus.c
mods/functionally_equivalent/debug/dep/exit_inventory_menu.dep
mods/functionally_equivalent/debug/dep/menus.dep
mods/functionally_equivalent/output/asmexit_inventory_menus.bin
mods/functionally_equivalent/debug/obj/exit_inventory_menu.o
mods/functionally_equivalent/debug/obj/menus.o
Doxygen/html/bc_s.png
Doxygen/html/bc_sd.png
Doxygen/html/cd_8c.html
Doxygen/html/cd_8c.js
Doxygen/html/closed.png
Doxygen/html/dir_6fa5fe5d15f4eee32e26d3ae22f9b7c2.html
Doxygen/html/dir_38c8d24aef3972a7f87b834274e76e31.html
Doxygen/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
Doxygen/html/dir_68267d1309a1af8e8297ef4c3efbcdba.js
Doxygen/html/dir_a419cf4bd9b994a09563262349c7cd0b.html
Doxygen/html/dir_e32e21dff86b2f4c3e9cf44f437b74cb.html
Doxygen/html/doc.svg
Doxygen/html/docd.svg
Doxygen/html/doxygen.css
Doxygen/html/doxygen.svg
Doxygen/html/draw__stuff_8c.html
Doxygen/html/draw__stuff_8c.js
Doxygen/html/draw__text_8c.html
Doxygen/html/draw__text_8c.js
Doxygen/html/dynsections.js
Doxygen/html/files_dup.js
Doxygen/html/files.html
Doxygen/html/folderclosed.svg
Doxygen/html/folderclosedd.svg
Doxygen/html/folderopen.svg
Doxygen/html/folderopend.svg
Doxygen/html/gem__home__in_8c.html
Doxygen/html/gem__home__in_8c.js
Doxygen/html/globals_defs.html
Doxygen/html/globals_func.html
Doxygen/html/globals.html
Doxygen/html/index.html
Doxygen/html/jquery.js
Doxygen/html/menu.js
Doxygen/html/menudata.js
Doxygen/html/menus_8c.html
Doxygen/html/menus_8c.js
Doxygen/html/misc__game_8c.html
Doxygen/html/misc__game_8c.js
Doxygen/html/nav_f.png
Doxygen/html/nav_fd.png
Doxygen/html/nav_g.png
Doxygen/html/nav_h.png
Doxygen/html/nav_hd.png
Doxygen/html/navtree.css
Doxygen/html/navtree.js
Doxygen/html/navtreedata.js
Doxygen/html/navtreeindex0.js
Doxygen/html/open.png
Doxygen/html/resize.js
Doxygen/html/splitbar.png
Doxygen/html/splitbard.png
Doxygen/html/Spyroscope.ico
Doxygen/html/sync_off.png
Doxygen/html/sync_on.png
Doxygen/html/tab_a.png
Doxygen/html/tab_ad.png
Doxygen/html/tab_b.png
Doxygen/html/tab_bd.png
Doxygen/html/tab_h.png
Doxygen/html/tab_hd.png
Doxygen/html/tab_s.png
Doxygen/html/tab_sd.png
Doxygen/html/tabs.css
Doxygen/html/vector_8c.html
Doxygen/html/vector_8c.js
Doxygen/html/search/all_0.js
Doxygen/html/search/all_1.js
Doxygen/html/search/all_2.js
Doxygen/html/search/all_3.js
Doxygen/html/search/all_4.js
Doxygen/html/search/all_5.js
Doxygen/html/search/all_6.js
Doxygen/html/search/all_7.js
Doxygen/html/search/close.svg
Doxygen/html/search/defines_0.js
Doxygen/html/search/defines_1.js
Doxygen/html/search/defines_2.js
Doxygen/html/search/files_0.js
Doxygen/html/search/files_1.js
Doxygen/html/search/files_2.js
Doxygen/html/search/files_3.js
Doxygen/html/search/files_4.js
Doxygen/html/search/functions_0.js
Doxygen/html/search/functions_1.js
Doxygen/html/search/functions_2.js
Doxygen/html/search/functions_3.js
Doxygen/html/search/functions_4.js
Doxygen/html/search/functions_5.js
Doxygen/html/search/functions_6.js
Doxygen/html/search/mag_d.svg
Doxygen/html/search/mag_sel.svg
Doxygen/html/search/mag_seld.svg
Doxygen/html/search/mag.svg
Doxygen/html/search/search.css
Doxygen/html/search/search.js
Doxygen/html/search/searchdata.js
