desktop.ini
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/spyro1.bin
common/custom_text.c
common/decrementing_timer.c
common/DVD.c
common/moby.c
common/moby.dep
common/moby.o
common/my_math.c
common/shapes.c
common/shapes.dep
common/shapes.o
common/vector.c
mods/functionally_equivalent/crash.log
mods/functionally_equivalent/Makefile
mods/functionally_equivalent/offset.txt
mods/functionally_equivalent/overlay.ld
mods/functionally_equivalent/debug/mod.elf
mods/functionally_equivalent/debug/mod.map
mods/functionally_equivalent/debug/redux.map
mods/functionally_equivalent/debug/source.txt
mods/functionally_equivalent/debug/dep/calculate_completion_percentage.dep
mods/functionally_equivalent/debug/dep/cd_status.dep
mods/functionally_equivalent/debug/dep/cd.dep
mods/functionally_equivalent/debug/dep/draw_text_capitals_hook.dep
mods/functionally_equivalent/debug/dep/draw_text_capitals.dep
mods/functionally_equivalent/debug/dep/gem_home_in_hook.dep
mods/functionally_equivalent/debug/dep/gem_home_in.dep
mods/functionally_equivalent/debug/dep/misc_game.dep
mods/functionally_equivalent/debug/dep/sin_scaled.dep
mods/functionally_equivalent/debug/dep/vec3_add.dep
mods/functionally_equivalent/debug/dep/vec3_copy.dep
mods/functionally_equivalent/debug/dep/vector.dep
mods/functionally_equivalent/debug/obj/calculate_completion_percentage.o
mods/functionally_equivalent/debug/obj/cd_status.o
mods/functionally_equivalent/debug/obj/cd.o
mods/functionally_equivalent/debug/obj/draw_text_capitals_hook.o
mods/functionally_equivalent/debug/obj/draw_text_capitals.o
mods/functionally_equivalent/debug/obj/gem_home_in_hook.o
mods/functionally_equivalent/debug/obj/gem_home_in.o
mods/functionally_equivalent/debug/obj/misc_game.o
mods/functionally_equivalent/debug/obj/sin_scaled.o
mods/functionally_equivalent/debug/obj/vec3_add.o
mods/functionally_equivalent/debug/obj/vec3_copy.o
mods/functionally_equivalent/debug/obj/vector.o
mods/functionally_equivalent/newtex/.gitignore
mods/functionally_equivalent/output/asmcalculate_completion_percentages.bin
mods/functionally_equivalent/output/asmcd_statuss.bin
mods/functionally_equivalent/output/asmdraw_text_capitals_hooks.bin
mods/functionally_equivalent/output/asmgem_home_in_hooks.bin
mods/functionally_equivalent/output/asmsin_scaleds.bin
mods/functionally_equivalent/output/asmvec3_adds.bin
mods/functionally_equivalent/output/asmvec3_copys.bin
mods/functionally_equivalent/output/mod_code.bin
visualizations/inserting into middle of function.drawio
plugins/__pycache__/plugin.cpython-311.pyc
